[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gspread = "*"
gspread-formatting = "*"
"discord.py" = "*"
requests = "*"
twitchapi = "*"
typing-extensions = "*"
python-dateutil = "*"
twitch-dl = "*"
moviepy = "*"
scikit-image = "*"
pydrive = "*"

[dev-packages]

[requires]
python_version = "3.10.9"
python_full_version = "3.10.9"
